database_project/src/main/mule/database_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="461e0fa8-1890-45f8-ad6c-45e7d5e82fa4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="database_projectFlow" doc:id="204d3342-3de5-41b4-8eeb-dc91405659c7" >
		<http:listener doc:name="Listener" doc:id="975613cd-3ae0-4c30-9da9-b0047333fce0" config-ref="HTTP_Listener_config" path="/database"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="391c08fe-081c-4dcf-a3ff-2e65dfb670cf" />
		<db:insert doc:id="f003b17b-edc9-4df8-b82b-90f2e68d0832" />
	</flow>
</mule>
